#new-grid {
    border: 1px solid red;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-template-columns: 0fr 0fr 0fr; */
    grid-template-columns: 0fr 0fr 0fr;
    grid-template-rows: repeat(1, 0fr);
    gap: 2px;
}
.new-cell {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid blue;
    text-align: center;
}